html, body, main{
  height: 100%;
  font-family: "Segoe UI",Arial,sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  height: 56px;
  width: 100%;
  padding-left: 112px;
  margin-left: 300px;
  background-color: #3949ab;
  border-left: 1px solid #242a35;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

header h3{
  color: white;
  font-weight: 400;
  line-height: 56px;
  padding: 0;
  margin: 0;
}

main{
  margin-left: 300px;
  margin-top: 0px;
  overflow: hidden;
  background-color: #fafafa;
  border-left: 1px solid rgba(0,0,0,.14);
}

iFrame{
  width: 100%;
  height: 100%;
  border: none;
}

#navHeader{
  height: 56px;
  background-color: #242a35;
}

#navContent{
  border-right: 1px solid rgba(0,0,0,.14);
}

nav{
  position: fixed;
  width: 300px;
  height: 100%;
  padding-bottom: 64px;
  margin: 0;
  background-color: white;
  overflow: auto;
}

nav span{
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 56px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

nav li a {
  display: block;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

nav li a:hover:not(.active) {
  color: #3949ab;
}

hr {
  margin: 0;
  height: 1px;
  border: 0;
  background: #000;
  opacity: 0.14;
}

.link-inactive {
}

.link-active {
  background-color: #eee;
}

.bookmarks a{
  font-weight: 400;
  font-size: 14px;
}

.dropdown-shown{
  padding-left: 32px;
  display:block;
}

.dropdown-hidden{
  display:none;
}
